
    <!--SECTION2-->
    <section class="section2">
        <div class="cards col-12">
        <div class="card border-0 col-md-3 col-sm-12">
        <i class="fa fa-medkit"></i>
        <h3 class="pt-4" >Qualified Doctors</h3 >
        <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
        </div>
        <div class="card border-0 col-md-3 col-sm-12">
        <i class="fa fa-certificate"></i>
        <h3 class="pt-4"  >Certified Services</h3 >
        <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
        </div>
        <div class="card border-0 col-md-3 col-sm-12">
        <i class="fa fa-stethoscope"></i>
        <h3  class="pt-4" >Advanced Equipment</h3 >
        <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
        </div>
        <div class="card border-0 col-md-3 col-sm-12">
        <i class="fa fa-heartbeat"></i>
        <h3  class="pt-4" >Emergency Service</h3 >
        <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
        </div>
        </div>
        </section>
        