section{
    background-color:rgb(88, 140, 177);
}
.space{
    height: calc(100% - 80px);
    background-color: transparent;
    /* padding-top: 30%; */

}
.copyright{
    background-color:rgb(46, 76, 97);
    


}
