section{
    background-color:rgb(8, 48, 78);
}
.space{
    /* height: calc(100% - 80px); */
    padding-top: auto;
    height: auto;
    background-color: transparent;
    /* padding-top: 10%; */

}
.copyright{
    background-color:rgb(18, 53, 75);
    


}
