nav{
 
    padding: 20px 25px;
    z-index: 5;
  
  background-color:rgb(251, 248, 241)
  ;
  
}  
.navbar-brand{
    color:rgb(4, 53, 53);
    font-weight: 900;
    font-size: 32px;
}
li>.nav-link{
    color:rgb(22, 110, 110);
    font-weight: 200;
    font-size: 16px;
}
li>.nav-link:hover {
    color: rgb(84, 186, 185);
  }

button > .navbar-toggler-icon 
{
    color:rgb(4, 53, 53);

}
 .btn{
     color: transparent;
 }

/* //// */


  