<section class="testimonial py-5 mt-4" id="testimonial">
  <div class="container">
    <div class="row ">
      <div class="col-md-4 py-5 bg-info text-white text-center ">
        <div class=" ">
          <div class="card-body">
            <img src="http://www.ansonika.com/mavia/img/registration_bg.svg" style="width:30%">
            <h3 class="py-3">Request An Appointment</h3>
            <p>Just make an appointment to get help from our expert
            </p>
            <h5>Our Services :-</h5>
            <p class="pt-0"> - Root Canal</p>
            <p class="pt-0"> - Teeth Whitening</p>
            <p> - Wisdom Teeth</p>
            <p> - Crowns Bridges</p>

          </div>
        </div>
      </div>
      <div class="col-md-8 py-5 border pt-4">

        <form [formGroup]="appointForm">
          <h5 class="pb-4">Please fill with your details</h5>
          <div class="form-row">
            <div class="row">

              <div class="form-group col-md-12 pb-4">
                <label class="form-label" for="">Select patient visit</label>
                <select id="inputState" class="form-control" 
                (change)="onChange($event)" formControlName="replytype"
                  class="form-control select2" type="text" required formControlName="visit" [class.is-invalid]="isInValidAndTouched('visit')"
                  [class.is-valid]="isValidControl('visit')">
                  <option selected></option>
                  <option value="firstvisit"> first visit</option>
                  <option selected value="other"> second visit</option>
                  <option value="other"> third visit</option>
                  <option value="other"> sixth visit</option>
                  <option value="other"> other ....</option>

                </select>
                <div *ngIf="isInValidAndTouched('visit')">
                    <small class="form-text text-danger" *ngIf="isControlHasError('visit','required')">required
                      field</small>
                  </div>
              </div>
            </div>

          </div>

          <!-- /// -->
          <div *ngIf="selectedType == 'firstvisit'">
            <h5 class="pb-4">Please fill with your personal data:-</h5>
            <div class="form-row">
              <div class="row">
                <div class="form-group col-md-6 pt-3">
                  <label class="form-label" for=""> Patient Name</label>
                  <input id="Full Name" name="Full Name" placeholder="Full Name" class="form-control" type="text"
                    required formControlName="name" [class.is-invalid]="isInValidAndTouched('name')"
                    [class.is-valid]="isValidControl('name')">
                  <div *ngIf="isInValidAndTouched('name')">
                    <small class="form-text text-danger" *ngIf="isControlHasError('name','required')">required
                      field</small>
                  </div>
                </div>


                <div class="form-group col-md-6  pt-3">
                  <label class="form-label" for=""> Email</label>
                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email" required
                    formControlName="email" [class.is-invalid]="isInValidAndTouched('email')"
                    [class.is-valid]="isValidControl('email')">
                  <div *ngIf="isInValidAndTouched('email')">
                    <small class="form-text text-danger" *ngIf="isControlHasError('email','required')">required
                      field</small>
                    <small class="form-text text-danger" *ngIf="isControlHasError('email','pattern')">invalid
                      email</small>
                  </div>
                </div>

              </div>
            </div>
            <!-- <div class="form-row"> -->
            <div class="row">
              <div class="form-group col-md-6  pt-3">
                <label class="form-label" for="">Phone Number</label>
                <input id="phone" name="phone" placeholder="Mobile No." class="form-control"
                 type="number" formControlName="phone"  required  [class.is-invalid]="isInValidAndTouched('phone')"
                 [class.is-valid]="isValidControl('phone')">
                     <div *ngIf="isInValidAndTouched('phone')">
                    <small class="form-text text-danger" *ngIf="isControlHasError('phone','required')">required
                      field</small>
                    <small class="form-text text-danger" *ngIf="isControlHasError('phone','pattern')">invalid
                      phone</small>
                  </div>
               
        
              </div>
              
              <div class="form-group col-md-6  pt-3 pb-4">
                <label class="form-label" for="">Gender</label>
                <select id="inputState" class="form-control" required formControlName="gender" [class.is-invalid]="isInValidAndTouched('gender')"
                [class.is-valid]="isValidControl('gender')">
                  <option selected></option>
                  <option> Male</option>
                  <option> Female</option>
                </select>
                <div *ngIf="isInValidAndTouched('gender')">
                    <small class="form-text text-danger" *ngIf="isControlHasError('gender','required')">required
                      field</small>
                  </div>
              </div>
             
            </div>
          </div>
          <!-- // -->
          <h5 class="pb-4">Please fill with your appointment detales:-</h5>

          <div class="row">
            <div class="form-group col-md-6 pt-3">
              <label class="form-label" for="date">Select Date</label>
              <input id="date" type="date" name="date" class="form-control" required 
              formControlName="date" [class.is-invalid]="isInValidAndTouched('date')"  [class.is-valid]="isValidControl('date')">
              <div *ngIf="isInValidAndTouched('date')">
                <small class="form-text text-danger" *ngIf="isControlHasError('date','required')">required
                  field</small>
              </div>
            </div>
            
            <div class="form-group col-md-6 pt-3">
              <label class="form-label" for="time">Select time</label>
              <input id="time" name="date" type="time" class="form-control" 
              required   formControlName="time" [class.is-invalid]="isInValidAndTouched('time')"
              [class.is-valid]="isValidControl('time')">
              <div *ngIf="isInValidAndTouched('time')">
                <small class="form-text text-danger" *ngIf="isControlHasError('time','required')">required
                  field</small>
              </div>
            </div>
           
          </div>

          <div class="row">
            <div class="form-group col-md-6 pt-3">
              <label class="form-label" for="">Select Department</label>
              <select id="inputState" class="form-control"
              required formControlName="department" [class.is-invalid]="isInValidAndTouched('department')"
              [class.is-valid]="isValidControl('department')" >
                <option selected></option>
                <option> Department 1</option>
                <option> Department 2</option>
                <option> Department 3</option>
              </select>
              <div *ngIf="isInValidAndTouched('department')">
                <small class="form-text text-danger" *ngIf="isControlHasError('department','required')">required
                  field</small>
              </div>
            </div>
            <div class="form-group col-md-6 pt-4">
              <label for="">Select Doctor</label>
              <select id="inputState" class="form-control"
              required formControlName="doctor" [class.is-invalid]="isInValidAndTouched('doctor')"
              [class.is-valid]="isValidControl('doctor')">
                <option selected></option>
                <option> Doctor 1</option>
                <option> Doctor 2</option>
                <option> Doctor 3</option>
                <option> Doctor 4</option>
              </select>
              <div *ngIf="isInValidAndTouched('doctor')">
                <small class="form-text text-danger" *ngIf="isControlHasError('doctor','required')">required
                  field</small>
              </div>
            </div>
          </div>


          <!-- /// -->

          <!-- </div> -->
          <div class="form-row">
            <div class="form-group pt-3">
              <label class="form-label" for="comment">Reason for the Appointment</label>
              <textarea class="form-control" rows="5" id="comment" class="form-control" required
                formControlName="reason" [class.is-invalid]="isInValidAndTouched('reason')"
                [class.is-valid]="isValidControl('reason')"></textarea>
            </div>
            <div *ngIf="isInValidAndTouched('reason')">
              <small class="form-text text-danger" *ngIf="isControlHasError('reason','required')">required
                field</small>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <div class="form-group">
                <div class="form-check">
                  <input  class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                  <label  class="form-check-label" for="invalidCheck2">
                    <small>By clicking Submit, you agree to our Terms & Conditions, Visitor Agreement and Privacy
                      Policy.</small>
                  </label>
                </div>
              </div>

            </div>
          </div>

          <div class="form-row">
            <button type="button" class="btn btn-danger p-2 m-4 " [disabled]="appointForm.invalid">make appointment</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
