
.appointment-part{
    background-color:rgb(124, 172, 206);
    margin-top: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5%;

}
.appointment-part>h1{
    font-weight: 900;


}
button:hover{
    color:rgb(96, 145, 180);
}
button{
    font-size: 16px;
    padding: 15px 30px;
    margin-top: 2%;
    font-weight: 600;
}