<section class="carousel-part">
  <app-home-carousel></app-home-carousel>
</section>

<section class="card-part">
  <app-card-home></app-card-home>
</section>

<section class="appointment-part text-center pt-5   text-light  m-auto">
<h2 class="fw-bold">
    In an emergency? Need help now?
</h2>
<p>
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
     sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<button type="button" class="btn btn-outline-light btn-lg rounded-pill " routerLink="/appointment-form"
 routerLinkActive="active">Make an Appointment

</button>
</section>


<section class="team-part">
 
  <app-about-team></app-about-team>
</section>